<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Add New Category</title>
</head>
<body>

<section>
    <br><br><br><br><br><br><br><br>

    <div>
    <h3>Add New Category</h3>

    <form action="#" th:action="@{/category/save}" method="post" th:object="${form}">

        <input type="hidden" th:field="*{id}"/>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</section>

</body>
</html>