<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        th:replace="layout :: layout(~{::title}, ~{::section})" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Jagoron - Self Defense Product</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
</head>

<body>
<section>
    <br><br><br><br>
    <main class="container">

    <!--box-shadow: 0px 4px 4px #dedcdb; -->

  <div id="books" style=" margin-top: 90px;">

        <div class="text-center mb-4 mt-4" >
             <h2 class="display-4" style="font-family: Product Sans, Arial ; margin-bottom: 60px;">Self Defense Products</h2>
        </div>


      <div class="row" style="margin-top: 80px;" >

          <div class="col-lg-4" style="line-height: 30px"  th:each = "product : ${productList}">
              <span th:classappend="${product.logo}"> </span>

              <h4><span th:text="${product.name}"></span></h4>
              <p th:text="${product.description}"></p>
              <p sec:authorize="isAnonymous()"><a button type="button" class="btn btn-success btn-sm"  href="/login">Buy now</a> </p>
              <p  sec:authorize="isAuthenticated()"><a button type="button" class="btn btn-success btn-sm" th:href="${product.link}" >Buy Now</a></p>
          </div>
      </div>

      
      </div>

</main>

<footer class="py-5" style="background-color: #5a1b62; margin-top: 90px;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; jogoronbd.000webhostapp.com</p>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
</body>
</section>
</html>