<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        th:replace="layout :: layout(~{::title}, ~{::section})" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Jagoron - Self Defense Tutorials</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/starter-template/">
</head>

<body>
<section>
  <br><br><br><br>
      <main class="container">

<div id="Tutorials" style=" margin-top: 90px;">
    <div class="text-center mb-4 mt-4" >
       <h2 class="display-4" style="font-family: Product Sans; margin-bottom: 60px;">Self Defense Tutorials</h2>
       </div>

  <div class="row" id="portfolio" >
    <div class="col-md-6 col-lg-4"  th:each="tutorial : ${tutorialList}">
      <div class="card mb-4 shadow-sm">
        <img th:src="${tutorial.image}" height="200px" alt="header">
        <div class="card-body">
          <p class="card-text" th:text="${tutorial.name}"></p>
          <p class="card-text" th:text="${tutorial.description}"></p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <p sec:authorize="isAnonymous()"><a button type="button" class="btn btn-success btn-sm"  href="/login">Watch now</a> </p>
              <p  sec:authorize="isAuthenticated()"><a button type="button" class="btn btn-success btn-sm" th:href="${tutorial.link}" >Watch Now</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



    </div>


    </main>



    

    <footer class="py-5" style="background-color: #5a1b62; margin-top: 90px;">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; jogoronbd.000webhostapp.com</p>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>
    </body>
</section>
    </html>