<!doctype html>
<html  lang="en"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
       th:replace="layout :: layout(~{::title}, ~{::section})" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>JagoronBD</title>
</head>

<body>
<section>
  <br><br><br><br>
<main class="container">

  <div class="row">

    <div class="col-md-6" style="line-height: 30px">
      <h1 class="display-3" style="font-family: Product Sans, Arial; margin-top: 20%">Police Numbers</h1>
      <h4 style="font-family: Product Sans, Arial; ">Collect All Thana Contact Numbers.</h4>
      <p>Don't Wait for Others. Start Learning Self Defense From Today. Collect Necessary Elements for Self Defense. Enroll to Free Courses.
        If Needed Then Call 999 (The National Emergency Number) Now!
      </p>
      <a button type="button" style="margin-top: 7px;" class="btn btn-danger " href="tel:999">Call 999</a>
      <a button type="button" style="margin-top: 7px;" class="btn btn-primary " href="tel:109">Call 109</a>
      <button type="button" style="margin-top: 7px;" onclick="document.getElementById('id01').style.display='block'" class="btn btn-success ">Contact Police</button>
    </div>

    <div id="id01" class="modal">

      <form class="modal-content animate" action="action_page.php" method="post">


        <div class="container2">
          <label for="sub" style="color:black;"><b>Subject</b></label>
          <input class="form-control" type="text" placeholder="Enter Subject"  name="subject" required>


          <label for="eml" style="color:black;"><b>Email</b></label>

          <input class="form-control" type="email" placeholder="Enter Your Email"  name="email" required  >


          <label for="sms" style="color:black;"><b>Your Message</b></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Email" name="message" required></textarea>
          <button type="submit" class="btn btn-primary btn-sm btn-block" style="margin-top: 7px;">Send</button>





        </div>

        <div class="container" style="background-color:#f1f1f1; height: 45px">



          <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger btn-sm" style="margin-top: 7px;">Cancel</button>



        </div>
      </form>
    </div>

    <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

    <br><br><br><br>

    <div class="col-md-6" style="margin-top: 20px;">
      <img src="police.svg" width="90%" alt="policebd">
    </div></div>



  <div id="dhaka" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Dhaka Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">

      <div class="col-lg-6" style="line-height: 30px">
        <img src="Screenshot_2020-10-10%20Google%20Maps.png" width="100%"alt="Dhakamap">
      </div>
      <div class=" col-lg-6" style="line-height: 30px">
        <p>  DMP, Dhaka<br>

        <div class=" col-lg-6" style="line-height: 30px">
          <p>  ডি এম পি, ঢাকা<br>
            ১) ওসি রমনা- ০১৭১৩৩৭৩১২৫<br>
            ২) ওসি ধানমন্ডি- ০১৭১৩৩৭৩১২৬<br>
            ৩) ওসি শাহাবাগ- ০১৭১৩৩৭৩১২৭<br>
            ৪) ওসি নিউ মার্কেট- ০১৭১৩৩৭৩১২৮<br>
            ৫) ওসি লালবাগ- ০১৭১৩৩৭৩১৩৪<br>
            ৬) ওসি কোতয়ালী- ০১৭১৩৩৭৩১৩৫<br>
            ৭) ওসি হাজারীবাগ- ০১৭১৩৩৭৩১৩৬<br>
            ৮) ওসি কামরাঙ্গীরচর- ০১৭১৩৩৭৩১৩৭<br>
            ৯) ওসি সুত্রাপুর- ০১৭১৩৩৭৩১৪৩<br>
            ১০) ওসি ডেমরা- ০১৭১৩৩৭৩১৪৪<br>
            ১১) ওসি শ্যামপুর- ০১৭১৩৩৭৩১৪৫<br>
            ১২) ওসি যাত্রাবাড়ী- ০১৭১৩৩৭৩১৪৬<br>
            ১৩) ওসি মতিঝিল- ০১৭১৩৩৭৩১৫২<br>
            ১৪) ওসি সবুজবাগ- ০১৭১৩৩৭৩১৫৩<br>
            ১৫) ওসি খিলগাও- ০১৭১৩৩৭৩১৫৪<br>
            ১৬) ওসি পল্টন- ০১৭১৩৩৭৩১৫৫<br>
            ১৭) ওসি উত্তরা- ০১৭১৩৩৭৩১৬১<br>
            ১৮) ওসি এয়ারপোর্ট- ০১৭১৩৩৭৩১৬২<br>
            ১৯) ওসি তুরাগ- ০১৭১৩৩৭৩১৬৩<br>
            ২০) ওসি উত্তরখান- ০১৭১৩৩৭৩১৬৪<br>
            ২১) ওসি দক্ষিনখান- ০১৭১৩৩৭৩১৬৫<br>
            ২২) ওসি গুলশান- ০১৭১৩৩৭৩১৭১<br>
            ২৩) ওসি ক্যান্টনমেন্ট- ০১৭১৩৩৭৩১৭২<br>
            ২৪) ওসি বাড্ডা- ০১৭১৩৩৭৩১৭৩<br>
            ২৫) ওসি খিলক্ষেত- ০১৭১৩৩৭৩১৭৪<br>
            ২৬) ওসি তেজগাও- ০১৭১৩৩৭৩১৮০<br>
            ২৭) ওসি তেজগাও শি/এ- ০১৭১৩৩৭৩১৮১<br>
            ২৮) ওসি মোহাম্মদপুর- ০১৭১৩৩৭৩১৮২<br>
            ২৯) ওসি আদাবর- ০১৭১৩৩৭৩১৮৩<br>
            ৩০) ওসি মিরপুর- ০১৭১৩৩৭৩১৮৯<br>
            ৩১) ওসি পল্লবী- ০১৭১৩৩৭৩১৯০<br>
            ৩২) ওসি কাফরুল- ০১৭১৩৩৭৩১৯১<br>
            ৩৩) ওসি শাহ আলী- ০১৭১৩৩৭৩১৯২<br>

        <div   th:each="police : ${dhaka}">
          <span th:text="${police.phoneNumberNo}"></span>) <span th:text="${police.name}"></span>- <span th:text="${police.phoneNumber}"></span><br>
        </div></p>
      </div>
        </p>
      </div>
    </div>
  </div>

  <div id="outside_dhaka" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Outside Dhaka</h2>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class=" col-lg-6" style="line-height: 30px">
        <div class=" col-lg-6" style="line-height: 30px">
          <p>
            ১) ওসি সাভার- ০১৭১৩৩৭৩৩২৭ <br>
            ২) ওসি ধামরাই- ০১৭১৩৩৭৩৩২৮ <br>
            ৩) ওসি কেরানীগঞ্জ- ০১৭১৩৩৭৩৩২৯ <br>
            ৪) ওসি নবাবগঞ্জ- ০১৭১৩৩৭৩৩৩০ <br>
            ৫) ওসি দোহার- ০১৭১৩৩৭৩৩৩১ <br>
            ৬) ওসি আশুলিয়া- ০১৭১৩৩৭৩৩৩২ <br>
            ৭) ওসি দক্ষিন কেরানীগঞ্জ-০১৭১৩৩৭৩৩৩৩ <br>
            ৮) ওসি নারায়নগঞ্জ- ০১৭১৩৩৭৩৩৪৫ <br>
            ৯) ওসি ফতুল্লা- ০১৭১৩৩৭৩৩৪৬ <br>
            ১০) ওসি বন্দর- ০১৭১৩৩৭৩৩৪৭ <br>
            ১১) ওসি সিদ্দিরগঞ্জ- ০১৭১৩৩৭৩৩৪৮ <br>
            ১২) ওসি আড়াইহাজার- ০১৭১৩৩৭৩৩৪৯ <br>
            ১৩) ওসি সোনারগাও- ০১৭১৩৩৭৩৩৫০ <br>
            ১৪) ওসি রুপগঞ্জ- ০১৭১৩৩৭৩৩৫১ <br>
            ১৫) ওসি জয়দেবপুর ০১৭১৩৩৭৩৩৬৩ <br>
            ১৬) ওসি টংগী- ০১৭১৩৩৭৩৩৬৪ <br>
            ১৭) ওসি কালিয়াকৈর- ০১৭১৩৩৭৩৩৬৫ <br>
            ১৮) ওসি শ্রীপুর- ০১৭১৩৩৭৩৩৬৬ <br>
            ১৯) ওসি কাপাসিয়া- ০১৭১৩৩৭৩৩৬৭ <br>
            ২০) ওসি কালিগঞ্জ- ০১৭১৩৩৭৩৩৬৮ <br>
            ২১) ওসি মানিকগঞ্জ- ০১৭১৩৩৭৩৩৭৯ <br>
            ২২) ওসি ঘিওর- ০১৭১৩৩৭৩৩৮০ <br>
            ২৩) ওসি শিবালয়- ০১৭১৩৩৭৩৩৮১ <br>
            ২৪) ওসি দৌলতপুর- ০১৭১৩৩৭৩৩৮২ <br>
            ২৫) ওসি হরিরামপুর- ০১৭১৩৩৭৩৩৮৩ <br>
            ২৬) ওসি সাটুরিয়া- ০১৭১৩৩৭৩৩৮৪ <br>
            ২৭) ওসি সিংগাইর- ০১৭১৩৩৭৩৩৮৫ <br>
            ২৮) ওসি মুন্সীগঞ্জ- ০১৭১৩৩৭৩৩৯৬ <br>
            ২৯) ওসি টংগীবাড়ী- ০১৭১৩৩৭৩৩৯৭ <br>
            ৩০) ওসি লৌহজং- ০১৭১৩৩৭৩৩৯৮ <br>
            ৩১) ওসি শ্রীনগর- ০১৭১৩৩৭৩৩৯৯ <br>
            ৩২) ওসি সিরাজদীখান- ০১৭১৩৩৭৩৪০০ <br>
            ৩৩) ওসি গজারিয়া- ০১৭১৩৩৭৩৪০১ <br>
            ৩৪) ওসি নরসিংদী- ০১৭১৩৩৭৩৪১২ <br>
            ৩৫) ওসি রায়পুর- ০১৭১৩৩৭৩৪১৩ <br>
            ৩৬) ওসি শিবপুর- ০১৭১৩৩৭৩৪১৪ <br>
            ৩৭) ওসি বেলাবো- ০১৭১৩৩৭৩৪১৫ <br>
            ৩৮) ওসি মনোহরদী- ০১৭১৩৩৭৩৪১৬ <br>
            ৩৯) ওসি পলাশ- ০১৭১৩৩৭৩৪১৭ <br>
            ৪০) ওসি কোতয়ালী মযমনসিংহ-০১৭১৩৩৭৩৪৩০ <br>
            ৪১) ওসি মুক্তাগাছা- ০১৭১৩৩৭৩৪৩১ <br>
            ৪২) ওসি ফুলবাড়ী- ০১৭১৩৩৭৩৪৩২ <br>
            ৪৩) ওসি ত্রিশাল- ০১৭১৩৩৭৩৪৩৩ <br>
            ৪৪) ওসি গৌরীপুর- ০১৭১৩৩৭৩৪৩৪ <br>
            ৪৫) ওসি ঈশ্বরগঞ্জ- ০১৭১৩৩৭৩৪৩৫ <br>
            ৪৬) ওসি নান্দাইল- ০১৭১৩৩৭৩৪৩৬ <br>
            ৪৭) ওসি ফুলপুর- ০১৭১৩৩৭৩৪৩৭ <br>
            ৪৮) ওসি হালুয়াঘাট- ০১৭১৩৩৭৩৪৩৮ <br>
            ৪৯) ওসি ধোবাউরা- ০১৭১৩৩৭৩৪৩৯ <br>
            ৫০) ওসি গফরগাও- ০১৭১৩৩৭৩৪৪০ <br>
            ৫১) ওসি ভালুকা- ০১৭১৩৩৭৩৪৪১ <br>
            ৫২) ওসি তারাকান্দা- ০১৭১৩৩৭৩৪৪২ <br>
            ৫৩) ওসি টাঙ্গাইল- ০১৭১৩৩৭৩৪৫৪ <br>
            ৫৪) ওসি মির্জাপুর- ০১৭১৩৩৭৩৪৫৫ <br>
            ৫৫) ওসি নাগরপুর- ০১৭১৩৩৭৩৪৫৬ <br>
            ৫৬) ওসি সখিপুর- ০১৭১৩৩৭৩৪৫৭ <br>
            ৫৭) ওসি বাসাইল- ০১৭১৩৩৭৩৪৫৮ <br>
            ৫৮) ওসি দেলদুয়ার- ০১৭১৩৩৭৩৪৫৯ <br>
            ৫৯) ওসি মধুপুর- ০১৭১৩৩৭৩৪৬০ <br>
            ৬০) ওসি ঘাটাইল- ০১৭১৩৩৭৩৪৬১ <br>
            ৬১) ওসি কালিহাতি- ০১৭১৩৩৭৩৪৬২ <br>
            ৬২) ওসি ভুয়াপুর- ০১৭১৩৩৭৩৪৬৩ <br>
            ৬৩) ওসি যমুনা ব্রীজ পূর্ব-০১৭১৩৩৭৩৪৬৪ <br>
            ৬৪) ওসি ধনবাড়ী- ০১৭১৩৩৭৩৪৬৫ <br>
            ৬৫) ওসি গোপালপুর- ০১৭১৩৩৭৩৪৬৬ <br>
            ৬৬) ওসি কিশোরগঞ্জ- ০১৭১৩৩৭৩৪৮০ <br>
            ৬৭) ওসি করিমগঞ্জ- ০১৭১৩৩৭৩৪৮১ <br>
            ৬৮) ওসি তারাইল- ০১৭১৩৩৭৩৪৮২ <br>
            ৬৯) ওসি হোসেনপুর- ০১৭১৩৩৭৩৪৮৩ <br>
            ৭০) ওসি কটিয়াদী- ০১৭১৩৩৭৩৪৮৪ <br>
            ৭১) ওসি বাজিতপুর- ০১৭১৩৩৭৩৪৮৫ <br>
            ৭২) ওসি কুলিয়ারচর- ০১৭১৩৩৭৩৪৮৬ <br>
            ৭৩) ওসি ভৈরব- ০১৭১৩৩৭৩৪৮৭ <br>
            ৭৪) ওসি ইটনা- ০১৭১৩৩৭৩৪৮৮ <br>
            ৭৫) ওসি মিঠামইন- ০১৭১৩৩৭৩৪৮৯ <br>
            ৭৬) ওসি নিকলী- ০১৭১৩৩৭৩৪৯০ <br>
            ৭৭) ওসি পাকুন্দিয়া- ০১৭১৩৩৭৩৪৯১ <br>
            ৭৮) ওসি অষ্টগ্রাম- ০১৭১৩৩৭৩৪৯২ <br>
            ৭৯) ওসি নেত্রকোনা- ০১৭১৩৩৭৩৫০৫ <br>
            ৮০) ওসি বারহাট্টা- ০১৭১৩৩৭৩৫০৬ <br>
            ৮১) ওসি কলমাকান্দা- ০১৭১৩৩৭৩৫০৭ <br>
            ৮২) ওসি আটপাড়া- ০১৭১৩৩৭৩৫০৮ <br>
            ৮৩) ওসি দুর্গাপুর- ০১৭১৩৩৭৩৫০৯ <br>
            ৮৪) ওসি পূর্বধলা- ০১৭১৩৩৭৩৫১০ <br>
            ৮৫) ওসি কেন্দুয়া- ০১৭১৩৩৭৩৫১১ <br>
            ৮৬) ওসি মদন- ০১৭১৩৩৭৩৫১২ <br>
            ৮৭) ওসি মোহনগঞ্জ- ০১৭১৩৩৭৩৫১৩ <br>
            ৮৮) ওসি খালিজুরি- ০১৭১৩৩৭৩৫১৪  <br>
            ৮৯) ওসি শেরপুর- ০১৭১৩৩৭৩৫২৩ <br>
            ৯০) ওসি নকলা- ০১৭১৩৩৭৩৫২৪ <br>
            ৯১) ওসি নলিতাবাড়ী- ০১৭১৩৩৭৩৫২৫ <br>
            ৯২) ওসি শ্রীবর্দী- ০১৭১৩৩৭৩৫২৬ <br>
            ৯৩) ওসি ঝিনাইগাতি- ০১৭১৩৩৭৩৫২৭ <br>
            ৯৪) ওসি জামালপুর- ০১৭১৩৩৭৩৫৩৮ <br>
            ৯৫) ওসি মেলান্দহ- ০১৭১৩৩৭৩৫৩৯ <br>
            ৯৬) ওসি সরিষাবাড়ী- ০১৭১৩৩৭৩৫৪০ <br>
            ৯৭) ওসি দেওয়ানগঞ্জ- ০১৭১৩৩৭৩৫৪১ <br>
            ৯৮) ওসি ইসলামপুর- ০১৭১৩৩৭৩৫৪২ <br>
            ৯৯) ওসি মাদারগঞ্জ- ০১৭১৩৩৭৩৫৪৩ <br>
            ১০০) ওসি বকশীগঞ্জ- ০১৭১৩৩৭৩৫৪৪ <br>
            ১০১) ওসি বাহাদুরাবাদ- ০১৭১৩৩৭৩৫৪৫ <br>
            ১০২) ওসি কোতয়ালী ফরিদপুর- ০১৭১৩৩৭৩৫৫৬ <br>
            ১০৩) ওসি মধুখালী- ০১৭১৩৩৭৩৫৫৭ <br>
            ১০৪) ওসি বোয়ালমারী- ০১৭১৩৩৭৩৫৫৮ <br>
            ১০৫) ওসি আলফাডাঙ্গা- ০১৭১৩৩৭৩৫৫৯ <br>
            ১০৬) ওসি চরভদ্রাসন- ০১৭১৩৩৭৩৫৬০ <br>
            ১০৭) ওসি নগরকান্দা- ০১৭১৩৩৭৩৫৬১ <br>
            ১০৮) ওসি সদরপুর- ০১৭১৩৩৭৩৫৬২ <br>
            ১০৯) ওসি সালতা- ০১৭১৩৩৭৩৫৬৩ <br>
            ১১০) ওসি ভাংগা- ০১৭১৩৩৭৩৫৬৪ <br>
            ১১১) ওসি গোপালগঞ্জ- ০১৭১৩৩৭৩৫৭২ <br>
            ১১২) ওসি মকসুদপুর- ০১৭১৩৩৭৩৫৭৩ <br>
            ১১৩) ওসি কাশিয়ানী- ০১৭১৩৩৭৩৫৭৪ <br>
            ১১৪) ওসি কোটালীপাড়া- ০১৭১৩৩৭৩৫৭৫ <br>
            ১১৫) ওসি টুঙ্গিপাড়া- ০১৭১৩৩৭৩৫৭৬ <br>
            ১১৬) ওসি মাদারীপুর- ০১৭১৩৩৭৩৫৮৫ <br>
            ১১৭) ওসি রাজৈর- ০১৭১৩৩৭৩৫৮৬ <br>
            ১১৮) ওসি কালকিনি- ০১৭১৩৩৭৩৫৮৭ <br>
            ১১৯) ওসি শিবচর- ০১৭১৩৩৭৩৫৮৮ <br>
            ১২০) ওসি রাজবাড়ী- ০১৭১৩৩৭৩৫৯৮ <br>
            ১২১) ওসি বালিয়াকান্দি- ০১৭১৩৩৭৩৫৯৯ <br>
            ১২২) ওসি পাংশা- ০১৭১৩৩৭৩৬০০ <br>
            ১২৩) ওসি গোয়ালন্দ- ০১৭১৩৩৭৩৬০১ <br>
            ১২৪) ওসি গোসাইরহাট- ০১৭১৩৩৭৩৬১২ <br>
            ১২৫) ওসি ভেদরগঞ্জ- ০১৭১৩৩৭৩৬১৩ <br>
            ১২৬) ওসি ডামুড্ডা- ০১৭১৩৩৭৩৬১৪ <br>
            ১২৭) ওসি জাজিরা- ০১৭১৩৩৭৩৬১৫<br>
            ১২৮) ওসি নড়িয়া- ০১৭১৩৩৭৩৬১৬<br>
            ১২৯) ওসি পালং- ০১৭১৩৩৭৩৬১৭<br>
            ১৩০) ওসি শখিপুর- ০১৭১৩৩৭৩৬১৮
        <div  th:each="outsideDhaka : ${outsideDhaka}">
        <p>       <span th:text="${outsideDhaka.phoneNumberNo}"></span>) <span th:text="${outsideDhaka.name}"></span>- <span th:text="${outsideDhaka.phoneNumber}"></span><br>
        </p>

        </div></div>
        </p>
      </div>

      <div class="col-lg-6" style="line-height: 30px">
        <img src="outsidedhaka.png" width="100%"alt="map">
      </div>
    </div>
  </div>

  <div id="borishal" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Borishal Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-lg-6" style="line-height: 30px">
        <img src="Borishal.png" width="100%" alt="map">
      </div>


      <div class=" col-lg-6" style="line-height: 30px">

        <div class=" col-lg-6" style="line-height: 30px">
          <p>
            ১) ওসি কোতয়ালী বরিশাল- ০১৭১৩৩৭৪২৬৭ <br>
            ২) ওসি হিজলা- ০১৭১৩৩৭৪২৬৮<br>
            ৩) ওসি মেহেদীগঞ্জ- ০১৭১৩৩৭৪২৬৯ <br>
            ৪) ওসি মুলাদী- ০১৭১৩৩৭৪২৭০<br>
            ৫) ওসি বাবুগঞ্জ- ০১৭১৩৩৭৪২৭১<br>
            ৬) ওসি বাকেরগঞ্জ- ০১৭১৩৩৭৪২৭২<br>
            ৭) ওসি বানারীপাড়া- ০১৭১৩৩৭৪২৭৩<br>
            ৮) ওসি আগৌলঝাড়া- ০১৭১৩৩৭৪২৭৪<br>
            ৯) ওসি গৌরনদী- ০১৭১৩৩৭৪২৭৫<br>
            ১০) ওসি উজিরপুর- ০১৭১৩৩৭৪২৭৬<br>
            ১১) ওসি ঝালকাঠি- ০১৭১৩৩৭৪২৮৬<br>
            ১২) ওসি নলছিঠি- ০১৭১৩৩৭৪২৮৭<br>
            ১৩) ওসি রাজাপুর- ০১৭১৩৩৭৪২৮৮<br>
            ১৪) ওসি কাঠালিয়া- ০১৭১৩৩৭৪২৮৯<br>
            ১৫) ওসি ভোলা- ০১৭১৩৩৭৪৩০০<br>
            ১৬) ওসি দৌলতখান- ০১৭১৩৩৭৪৩০১<br>
            ১৭) ওসি তজুমুদ্দিন- ০১৭১৩৩৭৪৩০২<br>
            ১৮) ওসি বোরহানউদ্দিন- ০১৭১৩৩৭৪৩০৩<br>
            ১৯) ওসি লালমোহন- ০১৭১৩৩৭৪৩০৪<br>
            ২০) ওসি চরফ্যাশন- ০১৭১৩৩৭৪৩০৫<br>
            ২১) ওসি মনপুরা- ০১৭১৩৩৭৪৩০৬<br>
            ২২) ওসি পটুয়াখালী- ০১৭১৩৩৭৪৩১৮<br>
            ২৩) ওসি বাউফল- ০১৭১৩৩৭৪৩১৯<br>
            ২৪) ওসি গলাচিপা- ০১৭১৩৩৭৪৩২০<br>
            ২৫) ওসি দশমিনা- ০১৭১৩৩৭৪৩২১<br>
            ২৬) ওসি দুমকী- ০১৭১৩৩৭৪৩২২<br>
            ২৭) ওসি কলাপাড়া- ০১৭১৩৩৭৪৩২৩<br>
            ২৮) ওসি মির্জাগঞ্জ- ০১৭১৩৩৭৪৩২৪<br>
            ২৯) ওসি রাঙ্গাবালি- ০১৭১৩৩৭৪৩২৫<br>
            ৩০) ওসি পিরোজপুর- ০১৭১৩৩৭৪৩৩৬<br>
            ৩১) ওসি ভান্ডারিয়া- ০১৭১৩৩৭৪৩৩৭<br>
            ৩২) ওসি নেসারাবাদ- ০১৭১৩৩৭৪৩৩৮<br>
            ৩৩) ওসি কাউখালী- ০১৭১৩৩৭৪৩৩৯<br>
            ৩৪) ওসি নাজিরপুর- ০১৭১৩৩৭৪৩৪০<br>
            ৩৫) ওসি জিয়া নগর- ০১৭১৩৩৭৪৩৪১<br>
            ৩৬) ওসি মঠবাড়ীয়া- ০১৭১৩৩৭৪৩৪২<br>
            ৩৭) ওসি বরগুনা- ০১৭১৩৩৭৪৩৫৩<br>
            ৩৮) ওসি আমতলী- ০১৭১৩৩৭৪৩৫৪<br>
            ৩৯) ওসি পাথরঘাটা- ০১৭১৩৩৭৪৩৫৫<br>
            ৪০) ওসি বেতাগী- ০১৭১৩৩৭৪৩৫৬<br>
            ৪১) ওসি বামনা- ০১৭১৩৩৭৪৩৫৭<br>
            ৪২) ওসি তালতলি- ০১৭১৩৩৭৪৩৫৮<br>

        <div  th:each="borishal : ${borishalList}">
          <p>       <span th:text="${borishal.phoneNumberNo}"></span>
            <span th:text="${borishal.name}"></span>-
            <span th:text="${borishal.phoneNumber}"></span><br>
          </p>

        </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sylhet" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Sylhet Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class=" col-lg-6" style="line-height: 30px">

        <div class=" col-lg-6" style="line-height: 30px">
          <p>
            ১) ওসি কোতয়ালী (সিলেট)- ০১৭১৩৩৭৪৩৭৫ <br>
            ২) ওসি বালাগঞ্জ- ০১৭১৩৩৭৪৩৭৬ <br>
            ৩) ওসি জৈন্তাপুর- ০১৭১৩৩৭৪৩৭৭ <br>
            ৪) ওসি গোয়াইনঘাট- ০১৭১৩৩৭৪৩৭৮ <br>
            ৫) ওসি কানাইঘাট- ০১৭১৩৩৭৪৩৭৯ <br>
            ৬) ওসি কোম্পানীগঞ্জ- ০১৭১৩৩৭৪৩৮০ <br>
            ৭) ওসি জকিগঞ্জ- ০১৭১৩৩৭৪৩৮১ <br>
            ৮) ওসি বিয়ানীবাজার- ০১৭১৩৩৭৪৩৮২ <br>
            ৯) ওসি গোলাপগঞ্জ- ০১৭১৩৩৭৪৩৮৩ <br>
            ১০) ওসি বিশ্বনাথ- ০১৭১৩৩৭৪৩৮৪ <br>
            ১১) ওসি ফেঞ্চুগঞ্জ- ০১৭১৩৩৭৪৩৮৫ <br>
            ১২) ওসি দক্ষিন সুরমা- ০১৭১৩৩৭৪৩৮৬ <br>
            ১৩) ওসি ওসমানী নগর- ০১৭১৩৩৭৪৩৮৭ <br>
            ১৪) ওসি হবিগঞ্জ- ০১৭১৩৩৭৪৩৯৮ <br>
            ১৫) ওসি মাধবপুর- ০১৭১৩৩৭৪৩৯৯ <br>
            ১৬) ওসি চুনারুঘাট- ০১৭১৩৩৭৪৪০০ <br>
            ১৭) ওসি বাহুবল- ০১৭১৩৩৭৪৪০১ <br>
            ১৮) ওসি লাখাই- ০১৭১৩৩৭৪৪০২ <br>
            ১৯) ওসি নবীগঞ্জ- ০১৭১৩৩৭৪৪০৩ <br>
            ২০) ওসি বানিয়াচং- ০১৭১৩৩৭৪৪০৪ <br>
            ২১) ওসি আজমিরিগঞ্জ- ০১৭১৩৩৭৪৪০৫ <br>
            ২২) ওসি শায়েস্তাগঞ্জ- ০১৭১৩৩৭৪৪০৬ <br>
            ২৩) ওসি সুনামগঞ্জ- ০১৭১৩৩৭৪৪১৮ <br>
            ২৪) ওসি ছাতক- ০১৭১৩৩৭৪৪১৯ <br>
            ২৫) ওসি জগন্নাথপুর- ০১৭১৩৩৭৪৪২০ <br>
            ২৬) ওসি তাহিরপুর- ০১৭১৩৩৭৪৪২১ <br>
            ২৭) ওসি বিশ্বম্বরপুর- ০১৭১৩৩৭৪৪২২ <br>
            ২৮) ওসি দোয়ারাবাজার-০১৭১৩৩৭৪৪২৩ <br>
            ২৯) ওসি দিরাই- ০১৭১৩৩৭৪৪২৪ <br>
            ৩০) ওসি সালনা- ০১৭১৩৩৭৪৪২৫ <br>
            ৩১) ওসি জামালগঞ্জ- ০১৭১৩৩৭৪৪২৬ <br>
            ৩২) ওসি ধর্মপাশা- ০১৭১৩৩৭৪৪২৭ <br>
            ৩৩) ওসি মধ্যনগর- ০১৭১৩৩৭৪৪২৮ <br>
            ৩৪) ওসি মৌলভীবাজার- ০১৭১৩৩৭৪৪৩৯ <br>
            ৩৫) ওসি শ্রীমঙ্গল- ০১৭১৩৩৭৪৪৪০ <br>
            ৩৬) ওসি কমলগঞ্জ- ০১৭১৩৩৭৪৪৪১ <br>
            ৩৭) ওসি রাজনগর- ০১৭১৩৩৭৪৪৪২ <br>
            ৩৮) ওসি কুলাউড়া- ০১৭১৩৩৭৪৪৪৩ <br>
            ৩৯) ওসি বড়লেখা- ০১৭১৩৩৭৪৪৪৪ <br>
            ৪০) ওসি জুরি- ০১৭১৩৩৭৪৪৪৫ <br>

        <div  th:each="sylhet : ${sylhetList}">
          <p>       <span th:text="${sylhet.phoneNumberNo}"></span>)
            <span th:text="${sylhet.name}"></span>-
            <span th:text="${sylhet.phoneNumber}"></span><br>
          </p>

        </div>
        </div>
      </div>

      <div class="col-lg-6" style="line-height: 30px">
        <img src="sylhet.png" width="100%"alt="map">
      </div>
    </div>
  </div>

  <div id="chittagong" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Chittagong Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-lg-6" style="line-height: 30px">
        <img src="chittagong.png" width="100%"alt="map" >
      </div>
      <div class=" col-lg-6" style="line-height: 30px">

        <div class=" col-lg-6" style="line-height: 30px">
          <p>
            সি এম পি, চট্রগ্রাম <br>
            <br>
            ১) ওসি কোতয়ালী, সিএমপি-০১৭১৩৩৭৩২৫৬ <br>
            ২) ওসি পাহাড়তলী (নর্থ জোন)-০১৭১৩৩৭৩২৫৭<br>
            ৩) ওসি পাচলাইশ- ০১৭১৩৩৭৩২৫৮<br>
            ৪) ওসি চান্দগাও- ০১৭১৩৩৭৩২৫৯<br>
            ৫) ওসি খুলসী- ০১৭১৩৩৭৩২৬০<br>
            ৬) ওসি বাকুলিয়া- ০১৭১৩৩৭৩২৬১<br>
            ৭) ওসি বায়েজিদ বোস্তামী-০১৭১৩৩৭৩২৬২<br>
            ৮) ওসি বন্দর- ০১৭১৩৩৭৩২৬৭<br>
            ৯) ওসি ডাবল মুরিং- ০১৭১৩৩৭৩২৬৮<br>
            ১০) ওসি হালিশহর- ০১৭১৩৩৭৩২৬৯<br>
            ১১) ওসি পতেঙ্গা- ০১৭১৩৩৭৩২৭০<br>
            ১২) ওসি কর্ণফুলি- ০১৭১৩৩৭৩২৭১<br>
            ১৩) ওসি ইমিগ্রেশন (বন্দর)- ০১৭১৩৩৭৩২৭২<br>
            ১৪) ওসি পাহাড়তলী (বন্দর জোন)-০১৭১৩৩৭৩২৭৩<br>

        <div  th:each="chittagong : ${chittagongList}">
          <p>       <span th:text="${chittagong.phoneNumberNo}"></span>)
            <span th:text="${chittagong.name}"></span>
            <span th:text="${chittagong.phoneNumber}"></span><br>
          </p>

        </div>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div id="outside_chittagong" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Outside Chittagong</h2>
    </div>

    <div class="row" style="margin-top: 30px;">


      <div class=" col-lg-6" style="line-height: 30px">
        <p>
          ১) ওসি রাউজান- ০১৭১৩৩৭৩৬৩৯ <br>
          ২) ওসি হাটহাজারী- ০১৭১৩৩৭৩৬৪০<br>
          ৩) ওসি ফটিকছড়ি- ০১৭১৩৩৭৩৬৪১<br>
          ৪) ওসি রাংগুনিয়া- ০১৭১৩৩৭৩৬৪২<br>
          ৫) ওসি পটিয়া- ০১৭১৩৩৭৩৬৪৩<br>
          ৬) ওসি মীরসরাই- ০১৭১৩৩৭৩৬৪৪<br>
          ৭) ওসি সীতাকুন্ডু- ০১৭১৩৩৭৩৬৪৫<br>
          ৮) ওসি আনোয়ারা- ০১৭১৩৩৭৩৬৪৬<br>
          ৯) ওসি বোয়ালখালী- ০১৭১৩৩৭৩৬৪৭<br>
          ১০) ওসি বাশখালী- ০১৭১৩৩৭৩৬৪৮<br>
          ১১) ওসি সাতকানিয়া- ০১৭১৩৩৭৩৬৪৯<br>
          ১২) ওসি লোহাগড়া- ০১৭১৩৩৭৩৬৫০<br>
          ১৩) ওসি চান্দনাইশ- ০১৭১৩৩৭৩৬৫১<br>
          ১৪) ওসি সন্দীপ- ০১৭১৩৩৭৩৬৫২<br>
          ১৫) ওসি কক্সবাজার- ০১৭১৩৩৭৩৬৬৩<br>
          ১৬) ওসি রামু- ০১৭১৩৩৭৩৬৬৪<br>
          ১৭) ওসি উখিয়া- ০১৭১৩৩৭৩৬৬৫<br>
          ১৮) ওসি টেকনাফ- ০১৭১৩৩৭৩৬৬৬<br>
          ১৯) ওসি চকোরিয়া- ০১৭১৩৩৭৩৬৬৭<br>
          ২০) ওসি কুতুবদিয়া- ০১৭১৩৩৭৩৬৬৮<br>
          ২১) ওসি মহেষখালী- ০১৭১৩৩৭৩৬৬৯<br>
          ২২) ওসি পেকুয়া- ০১৭১৩৩৭৩৬৭০<br>
          ২৩) ওসি কোতয়ালী কুমিল্লা- ০১৭১৩৩৭৩৬৮৫<br>
          ২৪) ওসি চৌদ্দগ্রাম- ০১৭১৩৩৭৩৬৮৬<br>
          ২৫) ওসি দেবীদ্দার- ০১৭১৩৩৭৩৬৮৭<br>
          ২৬) ওসি হোমনা- ০১৭১৩৩৭৩৬৮৮<br>
          ২৭) ওসি লাকসাম- ০১৭১৩৩৭৩৬৮৯<br>
          ২৮) ওসি দাউদকান্দি- ০১৭১৩৩৭৩৬৯০<br>
          ২৯) ওসি বুড়িচং- ০১৭১৩৩৭৩৬৯১<br>
          ৩০) ওসি চান্দিনা- ০১৭১৩৩৭৩৬৯২<br>
          ৩২) ওসি বরুড়া- ০১৭১৩৩৭৩৬৯৩<br>
          ৩৩) ওসি লাঙ্গলকোট- ০১৭১৩৩৭৩৬৯৪<br>
          ৩৪) ওসি মুরাদনগর- ০১৭১৩৩৭৩৬৯৫<br>
          ৩৫) ওসি ব্রাক্ষ্মনপাড়া- ০১৭১৩৩৭৩৬৯৬<br>
          ৩৬) ওসি মেঘনা- ০১৭১৩৩৭৩৬৯৭<br>
          ৩৭) ওসি মনোহরগঞ্জ- ০১৭১৩৩৭৩৬৯৮<br>
          ৩৮) ওসি তিতাস- ০১৭১৩৩৭৩৬৯৯<br>
          ৩৯) ওসি সদর দক্ষিন কুমিল্লা- ০১৭১৩৩৭৩৭০০<br>
          ৪০) ওসি চাদপুর- ০১৭১৩৩৭৩৭১২<br>
          ৪১) ওসি হাজীগঞ্জ- ০১৭১৩৩৭৩৭১৩<br>
          ৪২) ওসি মতলব- ০১৭১৩৩৭৩৭১৪<br>
          ৪৩) ওসি মতলব উত্তর- ০১৭১৩৩৭৩৭১৪<br>
          ৪৪) ওসি মতলব দক্ষিন- ০১৭১৩৩৭৩৭১৫<br>
          ৪৫) ওসি শাহারাস্তি- ০১৭১৩৩৭৩৭১৬<br>
          ৪৬) ওসি কচুয়া- ০১৭১৩৩৭৩৭১৭<br>
          ৪৭) ওসি ফরিদগঞ্জ- ০১৭১৩৩৭৩৭১৮<br>
          ৪৮) ওসি হাইমচর- ০১৭১৩৩৭৩৭১৯<br>
          ৪৯) ওসি ব্রাক্ষ্মনবাড়ীয়া সদর- ০১৭১৩৩৭৩৭৩০<br>
          ৫০) ওসি সরাইল- ০১৭১৩৩৭৩৭৩১<br>
          ৫১) ওসি আশুগঞ্জ- ০১৭১৩৩৭৩৭৩২<br>
          ৫২) ওসি নাসিরনগর- ০১৭১৩৩৭৩৭৩৩<br>
          ৫৩) ওসি নবীনগর- ০১৭১৩৩৭৩৭৩৪<br>
          ৫৪) ওসি বাঞ্ছারামপুর- ০১৭১৩৩৭৩৭৩৫<br>
          ৫৫) ওসি কসবা- ০১৭১৩৩৭৩৭৩৬<br>
          ৫৬) ওসি আখাউড়া- ০১৭১৩৩৭৩৭৩৭<br>
          ৫৭) ওসি সুধারাম, নোয়াখালী- ০১৭১৩৩৭৩৭৪৮<br>
          ৫৮) ওসি বেগমগঞ্জ- ০১৭১৩৩৭৩৭৪৯<br>
          ৫৯) ওসি সেনবাগ- ০১৭১৩৩৭৩৭৫০<br>
          ৬০) ওসি সোনাইমুরি- ০১৭১৩৩৭৩৭৫১<br>
          ৬১) ওসি কোম্পানীগঞ্জ- ০১৭১৩৩৭৩৭৫২<br>
          ৬২) ওসি চাটখিল- ০১৭১৩৩৭৩৭৫৩<br>
          ৬৩) ওসি হাতিয়া- ০১৭১৩৩৭৩৭৫৪<br>
          ৬৪) ওসি চরজব্বার- ০১৭১৩৩৭৩৭৫৫<br>
          ৬৫) ওসি লক্ষীপুর- ০১৭১৩৩৭৩৭৬৫<br>
          ৬৬) ওসি রায়পুরা- ০১৭১৩৩৭৩৭৬৬<br>
          ৬৭) ওসি রামগঞ্জ- ০১৭১৩৩৭৩৭৬৭<br>
          ৬৮) ওসি রামগাতি- ০১৭১৩৩৭৩৭৬৮<br>
          ৬৯) ওসি ফেনী- ০১৭১৩৩৭৩৭৭৮<br>
          ৭০) ওসি সোনাগাজী- ০১৭১৩৩৭৩৭৭৯<br>
          ৭১) ওসি ফুলগাজী- ০১৭১৩৩৭৩৭৮০<br>
          ৭২) ওসি পরশুরাম- ০১৭১৩৩৭৩৭৮১<br>
          ৭৩) ওসি ছাগলনাইয়া- ০১৭১৩৩৭৩৭৮২<br>
          ৭৪) ওসি দাগনভুইয়া- ০১৭১৩৩৭৩৭৮৩<br>

        <div  th:each="outsideChittagong : ${outsideChittagongList}">
          <p>       <span th:text="${outsideChittagong.phoneNumberNo}"></span>)
            <span th:text="${outsideChittagong.name}"></span>-
            <span th:text="${outsideChittagong.phoneNumber}"></span><br>
          </p>
        </div>
        </p>
      </div>

      <div class="col-lg-6" style="line-height: 30px">
        <img src="chittagong.png" width="100%"alt="map">
      </div>

    </div>
  </div>


  <div id="Khulna" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Khulna Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">

      <div class="col-lg-6" style="line-height: 30px">
        <img src="Khulna.png" width="100%"alt="map" >
      </div>
      <div class=" col-lg-6" style="line-height: 30px">
        <p>
          কেএমপি, খুলনা <br>
          <br>
          ১) ওসি খুলনা- ০১৭১৩৩৭৩২৮৫ <br>
          ২) ওসি সোনাডাঙ্গা- ০১৭১৩৩৭৩২৮৬<br>
          ৩) ওসি খালিশপুর- ০১৭১৩৩৭৩২৮৭<br>
          ৪) ওসি দৌলতপুর- ০১৭১৩৩৭৩২৮৮<br>
          ৫) ওসি খানজাহান আলী- ০১৭১৩৩৭৩২৮৯ <br><br>
        <div  th:each="khulna : ${khulnaList}">
          <p>       <span th:text="${khulna.phoneNumberNo}"></span>)
            <span th:text="${khulna.name}"></span>-
            <span th:text="${khulna.phoneNumber}"></span><br>
          </p>
      </div>
          OutSide Khulna<br><br>
          ১) ওসি ফুলতলা- ০১৭১৩৩৭৪১০৩<br>
          ২) ওসি দিঘলিয়া- ০১৭১৩৩৭৪১০৪<br>
          ৩) ওসি পাইকগাছা- ০১৭১৩৩৭৪১০৫<br>
          ৪) ওসি বটিয়াঘাটা- ০১৭১৩৩৭৪১০৬<br>
          ৫) ওসি ডুমুরিয়া- ০১৭১৩৩৭৪১০৭<br>
          ৬) ওসি তেরখাদা- ০১৭১৩৩৭৪১০৮<br>
          ৭) ওসি রুপসা- ০১৭১৩৩৭৪১০৯<br>
          ৮) ওসি দাকোপ- ০১৭১৩৩৭৪১১০<br>
          ৯) ওসি কয়রা- ০১৭১৩৩৭৪১১১<br>
          ১০) ওসি বাগেরহাট- ০১৭১৩৩৭৪১২২<br>
          ১১) ওসি ফকিরহাট- ০১৭১৩৩৭৪১২৩<br>
          ১২) ওসি মোল্লারহাট- ০১৭১৩৩৭৪১২৪<br>
          ১৩) ওসি চিতলমারী- ০১৭১৩৩৭৪১২৫<br>
          ১৪) ওসি কচুয়া- ০১৭১৩৩৭৪১২৬<br>
          ১৫) ওসি মোরলগঞ্জ- ০১৭১৩৩৭৪১২৭<br>
          ১৬) ওসি শরনখোলা- ০১৭১৩৩৭৪১২৮<br>
          ১৭) ওসি মংলা- ০১৭১৩৩৭৪১২৯<br>
          ১৮) ওসি রামপাল- ০১৭১৩৩৭৪১৩০<br>
          ১৯) ওসি সাতক্ষীরা- ০১৭১৩৩৭৪১৪১<br>
          ২০) ওসি কলারোয়া- ০১৭১৩৩৭৪১৪২<br>
          ২১) ওসি তালা- ০১৭১৩৩৭৪১৪৩<br>
          ২২) ওসি কালিগঞ্জ- ০১৭১৩৩৭৪১৪৪<br>
          ২৩) ওসি শ্যামনগর- ০১৭১৩৩৭৪১৪৫<br>
          ২৪) ওসি দেবহাটা- ০১৭১৩৩৭৪১৪৬<br>
          ২৫) ওসি আশাশুনি- ০১৭১৩৩৭৪১৪৭<br>
          ২৬) ওসি পাটকেলঘাটা- ০১৭১৩৩৭৪১৪৮<br>
          ২৭) ওসি কোতয়ালী যশোর- ০১৭১৩৩৭৪১৬১<br>
          ২৮) ওসি ঝিকরগাছা- ০১৭১৩৩৭৪১৬২<br>
          ২৯) ওসি শার্শা- ০১৭১৩৩৭৪১৬৩<br>
          ৩০) ওসি চৌগাছা- ০১৭১৩৩৭৪১৬৪<br>
          ৩১) ওসি মনিরামপুর- ০১৭১৩৩৭৪১৬৫<br>
          ৩২) ওসি কেশবপুর- ০১৭১৩৩৭৪১৬৬<br>
          ৩৩) ওসি অভয়নগর- ০১৭১৩৩৭৪১৬৭<br>
          ৩৪) ওসি বাঘারপাড়া- ০১৭১৩৩৭৪১৬৮<br>
          ৩৫) ওসি বেনাপোল পোর্ট- ০১৭১৩৩৭৪১৬৯<br>
          ৩৬) ওসি বেনাপোল চেক পোষ্ট- ০১৭১৩৩৭৪১৭০<br>
          ৩৭) ওসি মাগুরা- ০১৭১৩৩৭৪১৭৯<br>
          ৩৮) ওসি শালিখা- ০১৭১৩৩৭৪১৮০<br>
          ৩৯) ওসি শ্রীপুর- ০১৭১৩৩৭৪১৮১<br>
          ৪০) ওসি মোহাম্মদপুর- ০১৭১৩৩৭৪১৮২<br>
          ৪১) ওসি ঝিনাইদহ- ০১৭১৩৩৭৪১৯২<br>
          ৪২) ওসি কালিগঞ্জ- ০১৭১৩৩৭৪১৯৩<br>
          ৪৩) ওসি শৈলকুপা- ০১৭১৩৩৭৪১৯৪<br>
          ৪৪) ওসি হরিনাকুন্ডু- ০১৭১৩৩৭৪১৯৫<br>
          ৪৫) ওসি কোটচাদপুর- ০১৭১৩৩৭৪১৯৬<br>
          ৪৬) ওসি মহেশপুর- ০১৭১৩৩৭৪১৯৭<br>
          ৪৭) ওসি নড়াইল- ০১৭১৩৩৭৪২০৬<br>
          ৪৮) ওসি কালিয়া- ০১৭১৩৩৭৪২০৭<br>
          ৪৯) ওসি লোহাগড়া- ০১৭১৩৩৭৪২০৮<br>
          ৫০) ওসি নড়াগাতি- ০১৭১৩৩৭৪২০৯<br>
          ৫১) ওসি কুষ্টিয়া- ০১৭১৩৩৭৪২২০<br>
          ৫২) ওসি খোকসা- ০১৭১৩৩৭৪২২১<br>
          ৫৩) ওসি কুমারখালী- ০১৭১৩৩৭৪২২২<br>
          ৫৪) ওসি ভেড়ামারা- ০১৭১৩৩৭৪২২৩<br>
          ৫৫) ওসি দৌলতপুর- ০১৭১৩৩৭৪২২৪<br>
          ৫৬) ওসি মিরপুর- ০১৭১৩৩৭৪২২৫<br>
          ৫৭) ওসি ইসলামী ইউনিভার্সিটি- ০১৭১৩৩৭৪২২৬<br>
          ৫৮) ওসি চুয়াডাংগা- ০১৭১৩৩৭৪২৩৬<br>
          ৫৯) ওসি আলমডাংগা- ০১৭১৩৩৭৪২৩৭<br>
          ৬০) ওসি জীবননগর- ০১৭১৩৩৭৪২৩৮<br>
          ৬১) ওসি ডামুরহুদা- ০১৭১৩৩৭৪২৩৯<br>
          ৬২) ওসি মেহেরপুর- ০১৭১৩৩৭৪২৪৯<br>
          ৬৩) ওসি গাংনী- ০১৭১৩৩৭৪২৫০<br>
          ৬৪) ওসি মুজিবনগর- ০১৭১৩৩৭৪২৫১<br>

        <div  th:each="outsideKhulna : ${outsideKhulnaList}">
          <p>       <span th:text="${outsideKhulna.phoneNumberNo}"></span>)
            <span th:text="${outsideKhulna.name}"></span>-
            <span th:text="${outsideKhulna.phoneNumber}"></span><br>
          </p>
        </div>
          <br>




        </p>

        </div>

        </p>
      </div>

    </div>
  </div>

  <div id="Rajshahi" style=" margin-top: 40px;">
    <div class="text-center mb-4 mt-4" >
      <h2 class="display-4" style="font-family: Product Sans, Arial ;">Rajshahi Division</h2>
    </div>

    <div class="row" style="margin-top: 30px;">


      <div class=" col-lg-6" style="line-height: 30px">
        <p>
        <div class=" col-lg-6" style="line-height: 30px">
          <p>
            আরএমপি, রাজশাহী <br><br>

            ১) ওসি বোয়ালিয়া- ০১৭১৩৩৭৩৩০৯ <br>
            ২) ওসি রাজপাড়া- ০১৭১৩৩৭৩৩১০<br>
            ৩) ওসি মতিহার- ০১৭১৩৩৭৩৩১১<br>
            ৪) ওসি শাহ মাকদুম- ০১৭১৩৩৭৩৩১২<br><br>
        <div  th:each="rajshahi : ${rajshahiList}">
          <p>       <span th:text="${rajshahi.phoneNumberNo}"></span>)
            <span th:text="${rajshahi.name}"></span>-
            <span th:text="${rajshahi.phoneNumber}"></span><br>
        </div>

            Outside Rajshahi<br><br>
            ১) ওসি পবা- ০১৭১৩৩৭৩৮০০ <br>
            ২) ওসি গুদাগাড়ি- ০১৭১৩৩৭৩৮০১<br>
            ৩) ওসি তানর- ০১৭১৩৩৭৩৮০২<br>
            ৪) ওসি মোহনপুর- ০১৭১৩৩৭৩৮০৩<br>
            ৫) ওসি পুঠিয়া- ০১৭১৩৩৭৩৮০৪<br>
            ৬) ওসি বাগমারা- ০১৭১৩৩৭৩৮০৫<br>
            ৭) ওসি দুর্গাপুর- ০১৭১৩৩৭৩৮০৬<br>
            ৮) ওসি চারঘাট- ০১৭১৩৩৭৩৮০৭<br>
            ৯) ওসি বাঘা- ০১৭১৩৩৭৩৮০৮<br>
            ১০) ওসি চাপাই নবাবগঞ্জ- ০১৭১৩৩৭৩৮১৯<br>
            ১১) ওসি শিবগঞ্জ- ০১৭১৩৩৭৩৮২০<br>
            ১২) ওসি গোমস্তাপুর- ০১৭১৩৩৭৩৮২১<br>
            ১৩) ওসি নাচোল- ০১৭১৩৩৭৩৮২২<br>
            ১৪) ওসি ভোলাহাট- ০১৭১৩৩৭৩৮২৩<br>
            ১৫) ওসি নওগা- ০১৭১৩৩৭৩৮৩৬<br>
            ১৬) ওসি রায়নগর- ০১৭১৩৩৭৩৮৩৭<br>
            ১৭) ওসি আত্রাই- ০১৭১৩৩৭৩৮৩৮<br>
            ১৮) ওসি ধামরাই- ০১৭১৩৩৭৩৮৩৯<br>
            ১৯) ওসি বাদলগাছি- ০১৭১৩৩৭৩৮৪০<br>
            ২০) ওসি মহাদেবপুর- ০১৭১৩৩৭৩৮৪১<br>
            ২১) ওসি পাটনীতলা- ০১৭১৩৩৭৩৮৪২<br>
            ২২) ওসি নিয়ামতপুর- ০১৭১৩৩৭৩৮৪৩<br>
            ২৩) ওসি মান্দা- ০১৭১৩৩৭৩৮৪৪<br>
            ২৪) ওসি সাপাহার- ০১৭১৩৩৭৩৮৪৫<br>
            ২৫) ওসি পর্শা- ০১৭১৩৩৭৩৮৪৬<br>
            ২৬) ওসি নাটোর- ০১৭১৩৩৭৩৮৫৭<br>
            ২৭) ওসি সিংড়া- ০১৭১৩৩৭৩৮৫৮<br>
            ২৮) ওসি বাঘাতিপাড়া- ০১৭১৩৩৭৩৮৫৯<br>
            ২৯) ওসি গুরুদাসপুর- ০১৭১৩৩৭৩৮৬০<br>
            ৩০) ওসি লালপুর- ০১৭১৩৩৭৩৮৬১<br>
            ৩১) ওসি বরইগ্রাম- ০১৭১৩৩৭৩৮৬২<br>
            ৩২) ওসি নলডাংগা- ০১৭১৩৩৭৩৮৬৩<br>
            ৩৩) ওসি কোতয়ালী, রংপুর- ০১৭১৩৩৭৩৮৭৪<br>
            ৩৪) ওসি গঙ্গাচুড়া- ০১৭১৩৩৭৩৮৭৫<br>
            ৩৫) ওসি ভোদরগঞ্জ- ০১৭১৩৩৭৩৮৭৬<br>
            ৩৬) ওসি তারাগঞ্জ- ০১৭১৩৩৭৩৮৭৭<br>
            ৩৭) ওসি মিঠাপুকুর- ০১৭১৩৩৭৩৮৭৮<br>
            ৩৮) ওসি পীরগাছা- ০১৭১৩৩৭৩৮৭৯<br>
            ৩৯) ওসি কাউনিয়া- ০১৭১৩৩৭৩৮৮০<br>
            ৪০) ওসি পীরগঞ্জ- ০১৭১৩৩৭৩৮৮১<br>
            ৪১) ওসি গাইবান্ধা- ০১৭১৩৩৭৩৮৯২<br>
            ৪২) ওসি সাদুল্লাপুর- ০১৭১৩৩৭৩৮৯৩<br>
            ৪৩) ওসি সুন্দরগঞ্জ- ০১৭১৩৩৭৩৮৯৪<br>
            ৪৫) ওসি পলাশবাড়ী- ০১৭১৩৩৭৩৮৯৫<br>
            ৪৬) ওসি গোবিন্দগঞ্জ- ০১৭১৩৩৭৩৮৯৬<br>
            ৪৭) ওসি সাতঘাটা- ০১৭১৩৩৭৩৮৯৭<br>
            ৪৮) ওসি ফুলছড়ি- ০১৭১৩৩৭৩৮৯৮<br>
            ৪৯) ওসি নিলফামারী- ০১৭১৩৩৭৩৯০৯<br>
            ৫০) ওসি সৈয়দপুর- ০১৭১৩৩৭৩৯১০<br>
            ৫১) ওসি জলঢাকা- ০১৭১৩৩৭৩৯১১<br>
            ৫২) ওসি কিশোরগঞ্জ (নিলফামারী)- ০১৭১৩৩৭৩৯১২<br>
            ৫৩) ওসি ডোমার- ০১৭১৩৩৭৩৯১৩<br>
            ৫৪) ওসি ডিমলা- ০১৭১৩৩৭৩৯১৪<br>
            ৫৪) ওসি সৈয়দপুর পুলিশ ফাড়ী- ০১৭১৩৩৭৩৯১৫<br>
            ৫৫) ওসি কুড়িগ্রাম- ০১৭১৩৩৭৩৯২৬<br>
            ৫৬) ওসি রাজারহাট- ০১৭১৩৩৭৩৯২৭<br>
            ৫৭) ওসি ফুলবাড়ী- ০১৭১৩৩৭৩৯২৮<br>
            ৫৮) ওসি নাগেশ্বর- ০১৭১৩৩৭৩৯২৯<br>
            ৫৯) ওসি বুরুঙ্গামারী- ০১৭১৩৩৭৩৯৩০<br>
            ৬০) ওসি উলিপুর- ০১৭১৩৩৭৩৯৩১<br>
            ৬১) ওসি চিলমারী- ০১৭১৩৩৭৩৯৩২<br>
            ৬২) ওসি রৌমারী- ০১৭১৩৩৭৩৯৩৩<br>
            ৬৩) ওসি রাজীবপুর- ০১৭১৩৩৭৩৯৩৪<br>
            ৬৪) ওসি দুসমারা- ০১৭১৩৩৭৩৯৩৫<br>
            ৬৫) ওসি কোচাকাটা- ০১৭১৩৩৭৩৯৩৬<br>
            ৬৬) ওসি লালমনিরহাট- ০১৭১৩৩৭৩৯৪৬<br>
            ৬৭) ওসি আদিতমারি- ০১৭১৩৩৭৩৯৪৭<br>
            ৬৮) ওসি কালিগঞ্জ- ০১৭১৩৩৭৩৯৪৮<br>
            ৬৯) ওসি হাতিবান্দা- ০১৭১৩৩৭৩৯৪৯<br>
            ৭০) ওসি পাটগ্রাম- ০১৭১৩৩৭৩৯৫০<br>
            ৭১) ওসি কোতয়ালী দিনাজপুর- ০১৭১৩৩৭৩৯৬৩<br>
            ৭২) ওসি চিরির বন্দর- ০১৭১৩৩৭৩৯৬৪<br>
            ৭৩) ওসি রিরল- ০১৭১৩৩৭৩৯৬৫<br>
            ৭৪) ওসি পার্বতীপুর- ০১৭১৩৩৭৩৯৬৬<br>
            ৭৫) ওসি বীরগঞ্জ- ০১৭১৩৩৭৩৯৬৭<br>
            ৭৬) ওসি বোছাগঞ্জ- ০১৭১৩৩৭৩৯৬৮<br>
            ৭৭) ওসি কাহারোল- ০১৭১৩৩৭৩৯৬৯<br>
            ৭৮) ওসি খানসামা- ০১৭১৩৩৭৩৯৭০<br>
            ৭৯) ওসি ফুলবাড়ী- ০১৭১৩৩৭৩৯৭১<br>
            ৮০) ওসি বিরামপুর- ০১৭১৩৩৭৩৯৭২<br>
            ৮২) ওসি নবাবগঞ্জ (দিনাজপুর) -০১৭১৩৩৭৩৯৭৩<br>
            ৮৩) ওসি ঘোড়াঘাট- ০১৭১৩৩৭৩৯৭৪<br>
            ৮৪) ওসি হাকিমপুর- ০১৭১৩৩৭৩৯৭৫<br>
            ৮৫) ওসি ঠাকুরগাও- ০১৭১৩৩৭৩৯৮৫<br>
            ৮৬) ওসি বালিয়াডাঙ্গী- ০১৭১৩৩৭৩৯৮৬<br>
            ৮৭) ওসি রানীসঙ্কৌল- ০১৭১৩৩৭৩৯৮৭<br>
            ৮৮) ওসি পীরগঞ্জ- ০১৭১৩৩৭৩৯৮৮<br>
            ৮৯) ওসি হরিপুর- ০১৭১৩৩৭৩৯৮৯<br>
            ৯০) ওসি পঞ্চগড়- ০১৭১৩৩৭৩৯৯৯<br>
            ৯১) ওসি বোদা- ০১৭১৩৩৭৪০০০<br>
            ৯২) ওসি আটোয়ারী- ০১৭১৩৩৭৪০০১<br>
            ৯৩) ওসি তেতুলিয়া- ০১৭১৩৩৭৪০০২<br>
            ৯৪) ওসি দেবীগঞ্জ- ০১৭১৩৩৭৪০০৩<br>
            ৯৫) ওসি পাবনা- ০১৭১৩৩৭৪০১৬<br>
            ৯৬) ওসি ঈশ্বরদী- ০১৭১৩৩৭৪০১৭<br>
            ৯৭) ওসি আটঘরিয়া- ০১৭১৩৩৭৪০১৮<br>
            ৯৮) ওসি চাটমোহর- ০১৭১৩৩৭৪০১৯<br>
            ৯৯) ওসি ভঙ্গোরা- ০১৭১৩৩৭৪০২০<br>
            ১০০) ওসি ফরিদপুর (পাবনা)- ০১৭১৩৩৭৪০২১<br>
            ১০১) ওসি সূর্যনগর- ০১৭১৩৩৭৪০২২<br>
            ১০২) ওসি বেড়া- ০১৭১৩৩৭৪০২৩<br>
            ১০৩) ওসি সাথিয়া- ০১৭১৩৩৭৪০২৪<br>
            ১০৪) ওসি আতাইকুলা- ০১৭১৩৩৭৪০২৫<br>
            ১০৫) ওসি সিরাজগঞ্জ- ০১৭১৩৩৭৪০৩৮<br>
            ১০৬) ওসি শাহাজাদপুর- ০১৭১৩৩৭৪০৩৯<br>
            ১০৭) ওসি উল্লাপাড়া- ০১৭১৩৩৭৪০৪০<br>
            ১০৮) ওসি চৌহালী- ০১৭১৩৩৭৪০৪১<br>
            ১০৯) ওসি তারাস- ০১৭১৩৩৭৪০৪২<br>
            ১১০) ওসি কাজিপুর- ০১৭১৩৩৭৪০৪৩<br>
            ১১১) ওসি কামারকান্দা- ০১৭১৩৩৭৪০৪৪<br>
            ১১২) ওসি রায়গঞ্জ- ০১৭১৩৩৭৪০৪৫<br>
            ১১৩) ওসি বেলকুচি- ০১৭১৩৩৭৪০৪৬<br>
            ১১৪) ওসি যমুনা ব্রীজ পশ্চিম- ০১৭১৩৩৭৪০৪৭<br>
            ১১৫) ওসি সালাঙ্গা- ০১৭১৩৩৭৪০৪৮<br>
            ১১৬) ওসি এনায়েতপুর- ০১৭১৩৩৭৪০৪৯<br>
            ১১৭) ওসি বগুড়া- ০১৭১৩৩৭৪০৬১<br>
            ১১৮) ওসি শিবগঞ্জ- ০১৭১৩৩৭৪০৬২<br>
            ১১৯) ওসি সোনাতলা- ০১৭১৩৩৭৪০৬৩<br>
            ১২০) ওসি গাবতলী- ০১৭১৩৩৭৪০৬৪<br>
            ১২১) ওসি সারিয়াকান্দি- ০১৭১৩৩৭৪০৬৫<br>
            ১২২) ওসি আদমদিঘী- ০১৭১৩৩৭৪০৬৬<br>
            ১২৩) ওসি ধুপচাচিয়া- ০১৭১৩৩৭৪০৬৭<br>
            ১২৪) ওসি কাহালু- ০১৭১৩৩৭৪০৬৮<br>
            ১২৫) ওসি শেরপুর- ০১৭১৩৩৭৪০৬৯<br>
            ১২৬) ওসি ধুনট- ০১৭১৩৩৭৪০৭০<br>
            ১২৭) ওসি নন্দিগ্রাম- ০১৭১৩৩৭৪০৭১<br>
            ১২৮) ওসি শাহজাহানপুর- ০১৭১৩৩৭৪০৭২<br>
            ১২৯) ওসি জয়পুরহাট- ০১৭১৩৩৭৪০৮২<br>
            ১৩০) ওসি কালাই- ০১৭১৩৩৭৪০৮৩<br>
            ১৩১) ওসি ক্ষেতলাল- ০১৭১৩৩৭৪০৮৪<br>
            ১৩২) ওসি আক্কেলপুর- ০১৭১৩৩৭৪০৮৫<br>
            ১৩৩) ওসি পাচবিবি- ০১৭১৩৩৭৪০৮৬<br>

        <div  th:each="outsideRajshahi : ${outsideRajshahiList}">
          <p>       <span th:text="${outsideRajshahi.phoneNumberNo}"></span>)
            <span th:text="${outsideRajshahi.name}"></span>-
            <span th:text="${outsideRajshahi.phoneNumber}"></span><br>
        </div>

          </p>

        </div>



        </p>

      </div>
      <div class="col-lg-6" style="line-height: 30px">
        <img src="Rajshahi%20.png" width="100%"alt="map">
      </div>

    </div>
  </div>


  <div id = "saythanks" style="margin-top: 100px;">

    <div class="row">

      <div class="col-lg-6" >
        <img src="Wecando.svg" width="80%" alt="Banner">
      </div>

      <div class="col-lg-6" style="line-height: 30px;">
        <h2 class="display-4" style="font-family: Product Sans, Arial; margin-bottom: 20px;">Don't Wait. </h2>
        <h2 class="display-4" style="font-family: Product Sans, Arial; margin-bottom: 20px;">You Can Do This!</h2>
        <p>Start Protesting Against All Violance! If you Protest, Then You Represent Bangladesh. Learn Self Defense from Today! So, Don't be late and be connected with us today!</p>
        <a button type="button" class="btn btn-danger btn-sm" href="tel:999">Call 999</a>
        <a button type="button" class="btn btn-primary btn-sm" href= "tel:109">Call 109</a>
        <button type="button" onclick="document.getElementById('id01').style.display='block'" class="btn btn-success btn-sm">Email Police</button>
      </div>

    </div>

  </div>

</main>
</section>
</body>

<footer class="py-5" style="background-color: #5a1b62; margin-top: 90px;">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; jogoronbd.000webhostapp.com</p>
  </div>
  <!-- /.container -->
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

</html>